<%= form_for(quiz) do |f| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :quiz_name %>
    <%= f.text_field :quiz_name %>
  </div>

  <div class="form-group">
    <%=f.select :status, [['Enable', 1], ['Disable', 0]]%>
    <label for="store_enable">Enable</label>
  </div>

  <div class="actions" style="margin:20px 0px;">
    <%= f.submit "SUBMIT", :class=>"btn btn-primary"%>
  </div>
<% end %>
