<%=render "home/page_header"%>
<p id="notice"><%= notice %></p>

<div class="content" style="padding:10px; margin:10px; background:#fff; border:1px solid #ccc;">
  <p>
    <strong>Quiz name:</strong>
    <%= @quiz.quiz_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @quiz.status == 1 ? "ENABLED" : "DISABLED" %>
  </p>

  <%= link_to 'Edit', edit_quiz_path(@quiz) %> |
  <%= link_to 'Back', quizzes_path %> |
  <%= link_to 'Add Question',new_question_path(:quiz_id=>@quiz.id)%>

  <%@quiz.questions.each do |question|%>
    <div style='padding:10px; margin:10px; border: 1px solid #ccc; background:#fafafa;'>
      <div style='padding:3px'><%=question.qn%></div>
      <div style="padding-left:10px;">
        <div><%=question.option_a%></div>
        <div><%=question.option_b%></div>
        <div><%=question.option_c%></div>
        <div><%=question.option_d%></div>
      </div>
    </div>
  </div>
</div>

