<%= form_for(product_picture) do |f| %>
  <% if product_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product_picture.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% product_picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.hidden_field :product_id,:value=>(params[:product_id] || product_picture.product.id)%>

  <div class="form-group">
    <div class='iimg'>
      <%if product_picture.pic.present?%>
        <%=image_tag product_picture.pic.url(:thumb)%>
      <%end%>
    </div>
    <%= f.label :pic %>
    <%= f.file_field :pic,:dest_img=>"iimg",:class=>"file_with_thumb"  %>
  </div>

   <div class="actions">
    <%= f.submit (f.object.new_record? ? "Create" : "Update"),:class=>"btn btn-primary" %>
  </div>
<% end %>
