<%= javascript_include_tag Ckeditor.cdn_url%>
<%= form_for(feed) do |f| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title,:class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %> (Leave blank if not available, if this is image only news)
    <%= f.text_area :description,:class=>"form-control",:value=>feed.description.to_s.force_encoding("UTF-8") %>
  </div>

  <div class="form-group">
    <label for="content" class="control-label">Details - (Optional) <span class="required-field">*</span><span class='proxima-regular' style='text-transform:none;'>Avoid changing font size, colors etc. Standard sizes and colors will be picked automatically</span></label>
    <div class="has-feedback" data-no-turbolink>
      <%= f.cktext_area :details, autofocus: false,:class=>"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class='iimg'>
      <%if feed.pic.present?%>
        <%=image_tag feed.pic.url(:thumb)%>
      <%end%>
    </div>
    <%= f.label :pic %>
    <%= f.file_field :pic,:dest_img=>"iimg",:class=>"file_with_thumb"  %>
  </div>

  <div class="form-group">
    <%=f.select :enable, [['Article', true], ['News', false]]%>
    <label for="feed_is_article">Show in Article</label>
  </div>

  <div class="form-group">
    <%=f.select :enable, [['Enable', true], ['Disable', false]]%>
    <label for="feed_status">Enable</label>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
