<%=render "home/page_header"%>
<div class="content">
  <p id="notice"><%= notice %></p>

  <div style="padding:10px;">
    <%=link_to "NEWS",feeds_path,:class=>"btn btn-primary"%>
    <%=link_to "ARTICLES",feeds_path(:type=>'article'),:class=>"btn btn-primary"%>
  </div>

  <%if params[:type].blank?%>
    <h1>SHOWING NEWS</h1>
  <%else%>
    <h1>SHOWING ARTICLES</h1>
  <%end%>

  <div style="padding:10px 0px;">
    <%= link_to 'New Feed', new_feed_path %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Pic</th>
        <th>Status</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @feeds.each do |feed| %>
        <tr>
          <td><%= feed.title %></td>
          <td><%= feed.description %></td>
          <td><%= image_tag feed.pic.url(:thumb) %></td>
          <td><%= feed.status %></td>
          <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
          <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="text-align:center;">
    <%= will_paginate(@feeds, :params => { :type => params[:type] }) %>
  </div>

  <br>


</div>
