<%=render "home/page_header"%>
<div class="content">
  <p id="notice"><%= notice %></p>

  <h1>NEWS</h1>

  <div style="padding:10px 0px;">
    <%= link_to 'New Feed', new_feed_path %>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Pic</th>
        <th>Status</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @feeds.each do |feed| %>
        <tr>
          <td><%= feed.title %></td>
          <td><%= feed.description %></td>
          <td><%= image_tag feed.pic.url(:thumb) %></td>
          <td><%= feed.status %></td>
          <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
          <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


</div>
