<div class="post">
  <div>
    <%=link_to member_path(comment.user) do%>
      <div style="display:inline; float:left; width:50px;">
        <%=image_tag comment.user.photo_custom_url(:thumb),:class=>"user-img"%>
      </div>
    <%end%>
    <div style="display:inline; float:left; padding-left:8px; width:82%;">
      <div style="color: #365899; font-size:15px;">
        <%=link_to member_path(comment.user) do%>
          <%=comment.user.nice_name%>
        <%end%>
        <%if comment.commentable.class.name == 'Post'%>
          <%
            post = comment.commentable
          %>
          <span style='margin-left:3px;color: #3e3e3e; margin-right:3px;'>commented on</span>

          <%=link_to comment.commentable.user.nice_name, member_path(comment.commentable.user_id)%> 's

          <span style='margin-left:3px;color: #3e3e3e;'>
            <%=(comment.commentable.class.name == 'Post')? "post" : "article"%>
          </span>

        <%else%>
          <span style='margin-left:3px;color: #3e3e3e;'>commented on <%=(comment.commentable.class.name == 'Post')? "post" : "article"%></span>
        <%end%>
      </div>
      <div style="font-size:12px;color:#90949c; font-family: 'proxima_nova_rgregular';">
        <%=comment.created_at.strftime("%d %b %y %l:%M %p")%>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="post" style="border:none;">
    <%if comment.commentable.class.name == "Post"%>
      <%=render "posts/post_body",:post=>comment.commentable%>
    <%else%>
      <div style="padding:5px;">
        <%=link_to article_path(comment.commentable),:style=>"font-size:16px;" do%>
          <%=comment.commentable.title.html_safe%>
        <%end%>
      </div>
      <div class="article-body proxima-regular" style="padding: 5px 10px; max-height:85px; overflow:hidden;min-height:85px;">
        <%=raw comment.commentable.content%>
      </div>
      <div style="padding:5px 10px; text-align:left;">
        <%=link_to "Read More",article_path(comment.commentable)%>
      </div>
      <%end%>
  </div>
</div>
