<%=render "home/page_header"%>
<div class="row-fluid">
  <div class='col-md-2'>
    <div style="background:#fff; border:1px solid #ccc; padding: 25px 5px; margin:10px; text-align:center;">
      <%=link_to "SERVICE CATEGORIES",service_categories_path%>
    </div>
  </div>
  <div class='col-md-2'>
    <div style="background:#fff; border:1px solid #ccc; padding: 25px 10px; margin:10px; text-align:center;">
      <%=link_to "CLASSIFIEDS",list_classifieds_path%>
    </div>
  </div>
  <div class='col-md-2'>
    <div style="background:#fff; border:1px solid #ccc; padding: 25px 10px; margin:10px; text-align:center;">
      <%=link_to "SERVICE PROVIDERS",service_providers_path%>
    </div>
  </div>
  <div class='col-md-2'>
    <div style="background:#fff; border:1px solid #ccc; padding: 25px 10px; margin:10px; text-align:center;">
      <%=link_to "NEWS",feeds_path%>
    </div>
  </div>
  <div class='col-md-2'>
    <div style="background:#fff; border:1px solid #ccc; padding: 25px 10px; margin:10px; text-align:center;">
      <%=link_to "ENQUIRIES",enquiries_path%>
    </div>
  </div>
</div>


