<%= form_for(service_category) do |f| %>
  <% if service_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_category.errors.count, "error") %> prohibited this service_category from being saved:</h2>
      <ul>
      <% service_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name,:class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description,:class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :service_provided_desc %>
    <%= f.text_area :service_provided_desc,:class=>"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :service_provided %> (Comma seperated)
    <%= f.text_area :service_provided,:class=>"form-control" %>
  </div>


  <div class="form-group">
    <div class='iimg'>
      <%if service_category.icon_img.present?%>
        <%=image_tag service_category.icon_img.url(:thumb)%>
      <%end%>
    </div>
    <%= f.label :icon_img %>
    <%= f.file_field :icon_img,:dest_img=>"iimg",:class=>"file_with_thumb"  %>
  </div>

  <div class="form-group">
    <div class='cimg'>
      <%if service_category.cover_img.present?%>
        <%=image_tag service_category.cover_img.url(:thumb)%>
      <%end%>
    </div>
    <%= f.label :cover_img %>
    <%= f.file_field :cover_img,:dest_img=>"cimg",:class=>"file_with_thumb" %>
  </div>

  <div class="form-group">
    <%=f.select :enable, [['Enable', true], ['Disable', false]]%>
    <label for="service_category_enable">Enable</label>
  </div>

  <div class="actions">
    <%= f.submit (f.object.new_record? ? "Create" : "Update"),:class=>"btn btn-primary" %>
  </div>
<% end %>
