<%=render "home/page_header"%>


<section class="pg-list-1">
  <div class="container">
    <div class="row">
      <div class="pg-list-1-left" style="width:100%"><h3 style="padding-bottom:0px;"><%=@service_category.name%></h3>
        <h4>Best <%=@service_category.name%> from all around Mangalore</h4>
      </div>
      <div class="pg-list-1-right" style="padding-left: 0px;">
        <div class="list-enqu-btn pg-list-1-right-p1" style=" padding-top: 20px;">
          <ul>
            <li><a href="#"><i class="fa fa-reply" aria-hidden="true"></i> CALL NOW</a> </li>
            <li><a href="#" data-dismiss="modal" data-toggle="modal" data-target="#list-quo"><i class="fa fa-share" aria-hidden="true"></i> REQUEST CALL BACK </a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="list-pg-bg">
  <div class="container">
    <div class="row">
      <div class="com-padd">
        <div class="list-pg-lt list-page-com-p">
          <!--LISTING DETAILS: LEFT PART 1-->
          <div class="pglist-p1 pglist-bg pglist-p-com" id="ld-abour">
            <div class="pglist-p-com-ti">
              <h3><span>About</span> <%=@service_category.name%></h3> </div>
            <div class="list-pg-inn-sp">
              <p>
                <%=@service_category.description%>
              </p>
            </div>
          </div>
          <!--END LISTING DETAILS: LEFT PART 1-->
          <!--LISTING DETAILS: LEFT PART 2-->
          <div class="pglist-p2 pglist-bg pglist-p-com" id="ld-ser">
            <div class="pglist-p-com-ti">
              <h3><span>Services</span> Offered</h3> </div>
            <div class="list-pg-inn-sp">
              <p><%=@service_category.service_provided_desc%></p>
              <div class="row pg-list-ser">
                <ul>
                  <%@service_category.service_provided.split(",").each do |sp|%>
                    <li class="col-md-4">
                      <div style="padding: 20px; border: 1px solid #ddd; font-size: 20px; text-transform: uppercase; border-radius: 1px; text-align:center; background:#fdfdfd">
                        <%=sp.strip%>
                      </div>
                    </li>
                  <%end%>
                </ul>
              </div>
            </div>
          </div>
          <!--END LISTING DETAILS: LEFT PART 2-->

          <!--LISTING DETAILS: LEFT PART 5-->
          <div class="pglist-p3 pglist-bg pglist-p-com" id="ld-rer">
            <div class="pglist-p-com-ti">
              <h3><span>User</span> Reviews</h3> </div>
            <div class="list-pg-inn-sp">
              <div class="lp-ur-all-rat">
                <ul>
                  <li style="margin-bottom:10px; padding-top:0px;">
                    <div class="lr-user-wr-img">
                      <%=image_tag 'u3.png'%>
                    </div>
                    <div class="lr-user-wr-con">
                      <h6>Jacob Michael <span>4.5 <i class="fa fa-star" aria-hidden="true"></i></span></h6> <span class="lr-revi-date">19th January, 2017</span>
                      <p>Good service... nice and clean rooms... very good spread of buffet and friendly staffs. Located in heart of city and easy to reach any places in a short distance. </p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--END LISTING DETAILS: LEFT PART 5-->
        </div>
        <div class="list-pg-rt">
          <!--LISTING DETAILS: LEFT PART 7-->
          <div class="pglist-p3 pglist-bg pglist-p-com">
            <div class="pglist-p-com-ti pglist-p-com-ti-right">
              <h3><span>Service</span> Guarantee</h3> </div>
            <div class="list-pg-inn-sp">
              <div class="list-pg-guar">
                <ul>
                  <li>
                    <div class="list-pg-guar-img">
                      <%=image_tag 'g1.png'%>
                    </div>
                    <h4>Service Guarantee</h4>
                    <p>Instant service</p>
                  </li>
                  <li>
                    <div class="list-pg-guar-img">
                      <%=image_tag 'g2.png'%>
                    </div>
                    <h4>Professionals</h4>
                    <p>100% certified professionals</p>
                  </li>
                  <li>
                    <div class="list-pg-guar-img">
                      <%=image_tag 'g3.png'%>
                    </div>
                    <h4>Cost Effective</h4>
                    <p>Charges according to market</p>
                  </li>
                </ul> <a class="waves-effect waves-light btn-large full-btn list-pg-btn" href="#!" data-dismiss="modal" data-toggle="modal" data-target="#list-quo">REQUEST CALL BACK</a> </div>
            </div>
          </div>
          <!--END LISTING DETAILS: LEFT PART 7-->
          <div class="text-center" style="background:#fff; padding: 20px 20px; border: 1px solid #ddd;">
            <%= link_to 'ADMIN EDIT', edit_service_category_path(@service_category),:class=>"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<style type="text/css">
  [class~=pg-list-1]{
    background: url(<%=@service_category.cover_img.url(:large)%>) no-repeat;
    background-size:100%;
    padding-top: 103px;
  }
</style>



