<div class="modal fade" id="likes_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header" style="padding-bottom: 0px;">
         <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center" >Liked by</h4>
      </div>
      <div class="modal-body" style="padding-top:0px;">
        <%@likeable.likes.order("created_at desc").each do |like|%>
          <div style="border-bottom:1px solid #ccc; margin-bottom:10px; padding:10px;">
            <%=link_to member_path(like.user) do %>
              <div style="display:inline; float:left;">
                <%=image_tag like.user.photo.url(:thumb),:class=>"user-img",:style=>"height:60px; width:60px"%>
              </div>
              <div style="display:inline; float:left; padding-left:8px;">
                <%=link_to member_path(like.user) do%>
                  <div style="color: #365899; font-size:15px;">
                    <%=like.user.nice_name%>
                  </div>
                <%end%>
                <div style="font-size:12px;color:#90949c; font-family: 'proxima_nova_rgregular';">
                  <%=like.created_at.strftime("%d %b %y %l:%M %p")%>
                </div>
              </div>
              <div class="clearfix"></div>
            <%end%>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
