<%=render "home/page_header"%>
<div class="row-fluid wall">
  <div class="col-md-3 hidden-xs">
    <div style="background: #fff;border: 1px solid #d2d2d2;margin: 15px auto; padding: 10px;text-align: center;">
      <%=image_tag 'news.jpg',:style=>"width:100%;"%>
      <div style="font-size: 14px; font-weight:bold; margin-top:15px;">
        NEWS FROM ALL AROUND MANGALORE
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="feeds_container">
      <%=render "feeds/feeds"%>
    </div>
    <div id="infinite-scrolling" style="text-align:center;">
      <%=image_tag "ajax-loader.gif",:class=>"ajax_loader_ic",:style=>"display:none"%>
      <%= will_paginate @feeds %>
    </div>
  </div>

  <div class="col-md-3 hidden-xs">
    <div style="background: #fff;border: 1px solid #d2d2d2;margin: 15px auto;padding: 10px;text-align: center;">
      <%=image_tag 'ad_1.jpg',:style=>"width:100%;"%>
      <div style="font-size: 12px; font-weight:bold; margin-top:15px;text-align:right;color:#ccc;">
        Ad sponsored
      </div>
    </div>
  </div>

</div>
