
<%=render "home/mat_banner"%>
<%if true%>
    <%=render 'home/projects'%>
<%end%>
<%=render 'home/promotion'%>
<%=render 'home/services_list'%>
<%if request.user_agent !~ /MANGALOREXPRESS/%>
  <%=render 'home/app_promo'%>
<%end%>
<%=render 'home/business_promo'%>
<div style="text-align:center; padding: 3px; background:#000;">
  <%if user_signed_in? && current_user.is_admin?%>
    <div style="background:#000; padding: 5px 10px;">
    <%=link_to "ADMIN DASHBOARD",admin_dashboard_path,:style=>"color:#1481ce;"%>
  <%else%>
    <%= link_to "ADMIN", new_user_session_path,:style=>"color:#1481ce" %>
  <%end%>
</div>

