<%=render "home/page_header"%>
<div class="classified-banner text-center">
  <div class="banner-inner">
    <h1 class="text-center"><i class='fa fa-search'></i>Classifieds Around Mangalore</h1>
    <div class="text-center tagline">BUY, SELL, RENT, JOBS, ADs etc...</div>
    <div class="text-center cls_icons">
      <i class='fa fa-user'></i>
      <i class='fa fa-bullhorn'></i>
      <i class='fa fa-home'></i>
      <i class='fa fa-building'></i>
      <i class='fa fa-briefcase'></i>
      <i class='fa fa-car'></i>
      <i class='fa fa-motorcycle'></i>
      <i class='fa fa-camera'></i>
      <i class='fa fa-mobile'></i>
      <i class='fa fa-tv'></i>
      <i class='fa fa-paw'></i>
      <%=image_tag 'dog.svg'%>
      <%=image_tag 'cat.svg'%>
      <%=image_tag 'parrot.svg'%>
      <%=image_tag 'chicken.svg'%>
      <%=image_tag 'cow.svg'%>
    </div>
  </div>
</div>

<section class="dir-alp-1 dir-pa-sp-top">
  <div class="container">
    <div class="row">
      <div class="dir-alp-con dir-alp-con-1">
        <div class="col-md-3 dir-alp-con-left">
          <div class="dir-alp-con-left-1">
            <h3 class="text-center">CLASSIFIED CATEGORY</h3>
          </div>
          <div class="dir-alp-l3 dir-alp-l-com">
            <div class="dir-alp-l-com1 dir-alp-p3">
              <ul>
                <%ClassifiedCategory.find_each do |cat|%>
                  <li>
                    <%=check_box_tag cat.id, cat.id,false,:id=>"cc_#{cat.id}"%>
                    <label for="cc_<%=cat.id%>"><%=cat.name%></label>
                  </li>
                <%end%>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 dir-alp-con-right">
          <div class="dir-alp-con-right-1">
            <div class="row">
              <%=render "classifieds/classifieds"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
