<%=render "home/page_header"%>
<div class="classified-banner text-center">
  <div class="banner-inner">
    <h1 class="text-center"></i>BUY, SELL, RENT, JOBS</h1>
    <div class="text-center tagline">ALL AROUND MANGALORE !</div>
    <div class="text-center cls_icons">
      <i class='fa fa-user'></i>
      <i class='fa fa-bullhorn'></i>
      <i class='fa fa-home'></i>
      <i class='fa fa-building'></i>
      <i class='fa fa-briefcase'></i>
      <i class='fa fa-car'></i>
      <i class='fa fa-motorcycle'></i>
      <i class='fa fa-camera'></i>
      <i class='fa fa-mobile'></i>
      <i class='fa fa-tv'></i>
      <i class='fa fa-paw'></i>
      <%=image_tag 'dog.svg'%>
      <%=image_tag 'cat.svg'%>
      <%=image_tag 'parrot.svg'%>
      <%=image_tag 'chicken.svg'%>
      <%=image_tag 'cow.svg'%>
    </div>
  </div>
  <div class="text-center" style="margin-top:30px;">
    <%=link_to new_classified_path, :class=>"btn btn-lg btn-primary post_ad_btn" do%>
      <i class="fa fa-plus" style='margin-right: 6px; font-size:20px;'></i> POST YOUR AD
    <%end%>
  </div>
</div>





<section class="dir-alp-1 dir-pa-sp-top">

<div class="container">
  <div class="row">
    <div class="dir-alp-con dir-alp-con-1">
      <div style="padding:3px; text-align:right;" class='classified_filter_btn'>
        <a href='javascript:void(0);' class='btn btn-primary' style="height:30px; padding: 3px 15px; border-radius:1px; margin: 5px;" onclick="$('.classified_filter_container').slideToggle('slow');"><i class='fa fa-filter' style='margin-right:5px;'></i>FILTER</a>
      </div>
      <div class="col-md-3 dir-alp-con-left classified_filter_container">
        <div class="classified-header">
          <h3 class="text-center">CLASSIFIED CATEGORY</h3>
        </div>
        <div class="dir-alp-l3 dir-alp-l-com">
          <div class="dir-alp-l-com1 dir-alp-p3 classified_filter">
            <ul>
              <%ClassifiedCategory.find_each do |cat|%>
                <li>
                  <%=check_box_tag cat.id, cat.id,false,:id=>"cc_#{cat.id}",:class=>"class_chck"%>
                  <label for="cc_<%=cat.id%>"><%=cat.name%></label>
                </li>
              <%end%>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9 dir-alp-con-right">
        <div class="dir-alp-con-right-1">
          <div class="row classified_container">
            <%=render "classifieds/classifieds"%>
          </div>
          <div id="infinite-scrolling" style="text-align:center;">
            <%=image_tag "ajax-loader.gif",:class=>"ajax_loader_ic",:style=>"display:none"%>
            <%= will_paginate @classifieds %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="callback_container">
</div>
<a href="#" data-dismiss="modal" data-toggle="modal" data-target="#list-quo" class="hide modal_opener"><i class="fa fa-share" aria-hidden="true"></i> REQUEST CALL BACK </a>
