<!--BANNER AND SERACH BOX-->
<section id="background" class="dir1-home-head">
  <div class="container-fluid affix-top header">
    <div class="row-fluid">
      <div class="col-md-2 col-sm-2 col-xs-12">
        <div class="dir-ho-tl">
          <ul>
            <li>
              <a href="/">
                <%=image_tag 'logo.png', :alt=>""%>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 col-sm-10">
        <div class="dir-ho-tr">
          <ul>
            <li><%=link_to "NEWS",cards_path%></li>
            <li><%=link_to "WALL",wall_path%></li>
            <li><%=link_to "ARTICLES",articles_path%></li>
            <li><%=link_to "REAL ESTATE",real_estate_path%></li>
            <li><%=link_to "HEALTH","/service_categories/doctors-hospitals"%></li>
            <li><%=link_to "CLASSIFIEDS",classifieds_path%></li>
            <li><%=link_to "SERVICES",services_path%> </li>
            <li><%=link_to "CONTACT US","/contact_us"%></li>
            <%if user_signed_in?%>
              <li> <%= link_to("#{current_user.nice_name.upcase} - LOGOUT", destroy_user_session_path, :method => :delete,:class=>"sign_out") %>
              </li>
            <%else%>
              <li>
                <%=link_to "LOGIN",new_user_session_path,:class=>"sign_in"%>
              </li>
              <li>
                <%=link_to "REGISTER",new_user_registration_path,:class=>"sign_up"%>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%if @enable_banner.present?%>
    <div class="container dir-ho-t-sp">
      <div class="row-fluid">
        <div class="dir-hr1">
          <div class="dir-ho-t-tit">
            <h1>Connect with the right Service Experts</h1>
            <p>Mangalore's best service experts all at one place.</p>
          </div>
          <form class="tourz-search-form" autocomplete="false">
            <div class="input-field search-field" style="width: 100%;">
              <%= text_field_tag 'select-search','',:autocomplete=>"off" %>
              <label for="select-search" class="search-hotel-type">Search your services like doctors, electrician, plumbing, hotel, resorts, events and more</label>
            </div>
            <div class="input-field hide">
              <input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
          </form>
        </div>
      </div>
    </div>
  <%end%>
</section>


<!--TOP SEARCH SECTION-->
<section id="myID" class="bottomMenu hom-top-menu">
  <div class="container top-search-main">
    <div class="row">
      <div class="ts-menu">
        <!--SECTION: LOGO-->
        <div class="ts-menu-1">
          <a href="/">
            <%=image_tag 'aff-logo.png', :alt=>"",:style=>"width:50px; margin-top:3px;"%>
          </a>
        </div>

        <!--MOBILE MENU ICON:IT'S ONLY SHOW ON MOBILE & TABLET VIEW-->
        <div class="ts-menu-5"><span><i class="fa fa-bars" style='border-radius:0px;     padding: 10px 15px; font-size:14pt;' aria-hidden="true"></i></span> </div>
        <!--MOBILE MENU CONTAINER:IT'S ONLY SHOW ON MOBILE & TABLET VIEW-->
        <div class="mob-right-nav" data-wow-duration="0.5s">
          <div class="mob-right-nav-close"><i class="fa fa-times" aria-hidden="true"></i> </div>
          <ul class="mob-menu-icon">
            <li><%=link_to "NEWS",cards_path%></li>
            <li><%=link_to "WALL",wall_path%></li>
            <li><%=link_to "ARTICLES",articles_path%></li>
            <li><a href="/services">HOME SERVICES</a> </li>
            <li><a href="/service_categories/doctors-hospitals">HEALTH</a> </li>
            <li><%=link_to "RENT & REAL ESTATE",real_estate_path%></li>
            <li><a href="/classifieds">CLASSIFIEDS</a> </li>
            <li><a href="#">CONTACT US</a> </li>
            <%if user_signed_in?%>
              <li> <%= link_to("#{current_user.nice_name.upcase} - LOGOUT", destroy_user_session_path, :method => :delete,:class=>"sign_out") %>
              </li>
            <%else%>
              <li>
                <%=link_to "LOGIN",new_user_session_path,:class=>"sign_in"%>
              </li>
              <li>
                <%=link_to "REGISTER",new_user_registration_path,:class=>"sign_up"%>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

